In [ ]:
#AI ->aretificial intelligence
#ML --> approch to achieve AI
#DL--> approch to implement ML
#DS--> use AI,ML,DL to solve problem
# machine learning 
# 1--> suppervised (classification--> categorical prediction like email spam of or not, regression-->numerical prediction like house price )
# 2--> unsuppervised (clustering algos wrok with unlabeled data,only input data no output data)

In [ ]:
# Numpy--> scientific computing library in pyhton
# why numpy-->support MD(multi_dimensional) data ,represent lagrge data in the form of array to train model 
# numpy for ML --> we convert TSV and CSV format into 1-d and 2-d array then give it to ML model

In [ ]:
import numpy as np

In [ ]:
a1=np.array([1,2,3,4,5])
a1.ndim
type(a1)

In [ ]:
type(a1)

In [ ]:
a1.dtype

In [ ]:
a1.shape

In [ ]:
a1.size

In [ ]:
b2=np.array([[1,2,3,4],[12,34,55,90]])

In [ ]:
b2

In [ ]:
b2.shape

In [ ]:
b2.size

In [ ]:
b2.dtype

In [ ]:
b2.dtype

In [ ]:
type(b2)

In [ ]:
b2.ndim

In [ ]:
np.ones(9).reshape(3,3)

In [ ]:
np.zeros(18).reshape(6,3)

In [ ]:
#create ones ,zeros and empty metric
a=np.ones((3,3),dtype=int)
a

In [ ]:
b=np.ones((3,3),dtype=int)

In [ ]:
b

In [ ]:
c=np.zeros((5,4),dtype=str)

In [ ]:
c

In [ ]:
#numpy function (array-->arange,linspace,reshape,ravel,flatten,transpose)
aa=np.arange(1,5)
aa
bb=np.linspace(1,5,10)
bb
cc=np.arange(1,5).reshape(2,2)
cc

In [ ]:
dd=np.arange(1,17).reshape(2,4,2)
dd

In [ ]:
dd.ravel()

In [ ]:
dd.flatten(order="K")

In [ ]:
dd.transpose()

In [ ]:
#mathematical operation using numpy array(addition,subtraction,multiplication,min,max,std,sqrt,sum,mean,exponent,log,log10)
# 0--> for columns
# 1--> for row

In [ ]:
a=np.arange(1,13).reshape(3,4)
b=np.arange(14,26).reshape(3,4)

In [ ]:
a+b
a-b
a/b
a*b

In [ ]:
#dot metric is possible when first metric row and second metric columns are equall
a=np.arange(1,13).reshape(3,4)
a

In [ ]:
b=np.arange(14,26).reshape(4,3)

In [ ]:
a.dot(b)

In [ ]:
np.std(a)

In [ ]:
np.sqrt(a)

In [ ]:
np.mean(a,axis=1,dtype=int)

In [ ]:
np.max(a,axis=1)

In [ ]:
np.log(a)

In [ ]:
np.log10(b)

In [ ]:
#array slicing using numpy

In [ ]:
import numpy as np

In [ ]:
a=np.arange(1,101).reshape(10,10)

In [ ]:
a

In [ ]:
a[0,0]

In [ ]:
a[:,0]

In [ ]:
#first part before ":," represent row slice and then column slice
a[0:3:,0:3]

In [ ]:
a[0:3:,6:10]

In [ ]:
a[0] #-->for row

In [ ]:
a[:,0] #--> for columns

In [ ]:
a.itemsize

In [ ]:
a.dtype

In [ ]:
#numpy array concatination and split

In [ ]:
bb=np.arange(1,10).reshape(3,3)
cc=np.arange(11,20).reshape(3,3)
print(bb)
print(cc)
np.concatenate((bb,cc,bb),axis=1)

In [ ]:
ss=np.arange(1,101).reshape(10,10)

In [ ]:
ss

In [ ]:
type(ss)

In [ ]:
v=np.split(ss,10)

In [ ]:
type(v)

In [ ]:
v[0]

In [ ]:
type(v[0])

In [ ]:
v

In [ ]:
bb=np.split((ss),10,axis=1)
bb

In [ ]:
vc=np.array([1,2,4,5,6,7])

In [ ]:
np.split(vc,[1,3])

In [ ]:
#Trignomteric function

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
np.cos(180)
np.tan(180)

In [ ]:
a=np.arange(0,np.pi*3,0.1)
b=np.sin(a)
b

In [ ]:
plt.plot(a,b)
plt.show()

In [ ]:
#Random sampling use  to implement DL AMD ML problem when we have no data
#e.g generate OTP code

In [ ]:
import random
np.random.randint(1,3, (2,2))
np.random.random(2)

In [ ]:
np.random.randint(1,10, (4,4))

In [ ]:
np.random.seed(10)
np.random.randint(1,10, (4,4))

In [ ]:
x=[1,2,3,4]

In [ ]:
np.random.choice(x)

In [ ]:
np.random.permutation(x)

In [ ]:
np.random.permutation(x)

In [1]:
#String operation ,comparison and information
#when we are working on project which contain string data at that moment we need string operation ,comparison and information

In [2]:
import numpy as np

In [3]:
name1="usman"
name2="akhtar"

In [6]:
np.char.add(name1,name2)

array('usmanakhtar', dtype='<U11')

In [9]:
np.char.upper(name1)

array('USMAN', dtype='<U5')

In [11]:
np.char.center(name1,60,"*")

array('***************************usman****************************',
      dtype='<U60')

In [13]:
a="I love pakistan"
np.char.split(a)

array(list(['I', 'love', 'pakistan']), dtype=object)

In [14]:
b=" usman\nakhtar\nlove\nGCU\nLahore"

In [18]:
np.char.splitlines(b) #use when we have \n in our string

array(list([' usman', 'akhtar', 'love', 'GCU', 'Lahore']), dtype=object)

In [53]:
str1="deteee"
str2="month"
str3="year"

In [54]:
np.char.join([":","/","::"],[str1,str2,str3])

array(['d:e:t:e:e:e', 'm/o/n/t/h', 'y::e::a::r'], dtype='<U11')

In [55]:
v=np.char.replace(str1,"data","usman")
v=np.char.replace(str1,"boss","date")
v

array('deteee', dtype='<U6')

In [56]:
v=np.char.replace(str1,"date","boss")
v

array('deteee', dtype='<U6')

In [57]:
np.char.equal(str1,str2)

array(False)

In [58]:
np.char.count(str1,"e")

array(4)

In [61]:
np.char.find(str2,"m")=

array(0)