In [1]:
#ordinal-->scaleable,like Grades
#Nominal-->all are same not scaleable,like colors
#label encoding give label according to alphabetical order like A come first it will got lable as "0"
#we can also privide label

In [2]:
#we apply label encoding on categorical variable (Nominal and ordinal)

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df=pd.read_csv("C:\\Users\\usman\\Documents\\train.csv")
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [6]:
df2=df[["KitchenQual","BldgType"]]

In [9]:
df2["KitchenQual"].unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [11]:
LE=LabelEncoder()

In [13]:
le=LE.fit_transform(df2["KitchenQual"])

In [16]:
df2["KitchenQual_Label"]=le

<ipython-input-16-f8f893497212>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["KitchenQual_Label"]=le

In [18]:
df2.value_counts()

KitchenQual  BldgType  KitchenQual_Label
TA           1Fam      3                    607
Gd           1Fam      2                    494
Ex           1Fam      0                     87
Gd           TwnhsE    2                     69
TA           Duplex    3                     49
             TwnhsE    3                     33
Fa           1Fam      1                     32
TA           2fmCon    3                     24
             Twnhs     3                     22
Gd           Twnhs     2                     20
Ex           TwnhsE    0                     12
Fa           2fmCon    1                      5
Gd           2fmCon    2                      2
Fa           Duplex    1                      2
Gd           Duplex    2                      1
Ex           Twnhs     0                      1
dtype: int64

In [19]:
df2["BldgType"].unique()

array(['1Fam', '2fmCon', 'Duplex', 'TwnhsE', 'Twnhs'], dtype=object)

In [20]:
dd={'1Fam':0, '2fmCon':1, 'Duplex':2, 'TwnhsE':3, 'Twnhs':4}

In [21]:
df2["BldgType_Label"]=df2['BldgType'].map(dd)

<ipython-input-21-a3d8b24fcf84>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["BldgType_Label"]=df2['BldgType'].map(dd)

In [27]:
df2.value_counts()

KitchenQual  BldgType  KitchenQual_Label  BldgType_Label
TA           1Fam      3                  0                 607
Gd           1Fam      2                  0                 494
Ex           1Fam      0                  0                  87
Gd           TwnhsE    2                  3                  69
TA           Duplex    3                  2                  49
             TwnhsE    3                  3                  33
Fa           1Fam      1                  0                  32
TA           2fmCon    3                  1                  24
             Twnhs     3                  4                  22
Gd           Twnhs     2                  4                  20
Ex           TwnhsE    0                  3                  12
Fa           2fmCon    1                  1                   5
Gd           2fmCon    2                  1                   2
Fa           Duplex    1                  2                   2
Gd           Duplex    2                  2                   1
Ex           Twnhs     0                  4                   1
dtype: int64